<h1>Welcome!</h1>
<% @steps.each do |s| %>
  <p><%= s.amount %></p>
<% end %>


<div id="forms">
  <%= render 'steps/form' %>
  <%= render 'weights/form' %>
  <%= render 'meals/form' %>
  <%= render 'exercises/form' %>
</div>
